<div class="welcome">
  <h2>Get Involved</h2>
  <ul>
    <li>Read more at the <a href="http://sfbace.org/">BACE Blog</a>!</li>
    <li><b>General meetings are 2nd Wednesdays at 8pm</b> at <a href="https://www.noisebridge.net/">Noisebridge</a>. Come at 7:30pm to learn more about the Timebank.</li>
    <li><b>Open Hours every Thursday 1-5pm</b> at the <a href="http://www.thehappinessinstitute.org/sf/">Happiness Institute</a> in SF.</li>
    <li><a href="https://www.google.com/calendar/embed?src=sfbace.org_l15uc852l92nuvm42uqmfbqqgk%40group.calendar.google.com&ctz=America/Los_Angeles">Calendar of Events</a></li>
		<li><%= link_to "Signup", signup_path %> for the timebank and you'll automatically receive our newsletter.</li>
    <li><a href="mailto:timebankinfo@sfbace.org">Email timebankinfo@sfbace.org</a> to find out how to get involved as a volunteer, intern, donor or partner organization.</li>
    <li><a href="http://lists.sfbace.org/listinfo.cgi/timebank-sfbace.org">Join our email listserve</a> to participate in the internal workings of the timebank.</li>
    <li>Join our <a href="https://www.facebook.com/groups/104404468889/">Facebook Group</a>!</li>
  </ul>
</div>
<%= render :partial => 'shared/donate' %>
<%= render :partial => 'shared/newsfeed' %>
<%= render :partial => 'shared/minifeed' %>
