<div class="welcome">
  <h2>Get Involved</h2>
  <ul>
    <!--<li><a href="http://sfbace.org/">BACE Blog</a></li>-->
    <li><b>General meetings are 2nd Wednesdays at 8pm</b> at <a href="https://www.noisebridge.net/">Noisebridge</a>. Come at 7:30pm to learn more about the Timebank.</li>
    <li><a href="https://www.google.com/calendar/embed?src=sfbace.org_l15uc852l92nuvm42uqmfbqqgk%40group.calendar.google.com&ctz=America/Los_Angeles">Calendar of Events</a></li>
		<li><%= link_to "Signup", signup_path %> for the timebank and you'll automatically receive our newsletter.</li>
    <li><a href="mailto:timebankinfo@sfbace.org">Email timebankinfo@sfbace.org</a> to find out how to get involved as a volunteer, intern, donor or partner organization.</li>
    <li><a href="http://lists.sfbace.org/listinfo.cgi/timebank-sfbace.org">Join our email listserve</a> to participate in the internal workings of the timebank.</li>
  </ul>
</div>

<div class="welcome">
  <h2>Latest News
<!-- BEGIN Twitter Button -->
    <iframe allowtransparency="true" frameborder="0" scrolling="no"
     src="http://platform.twitter.com/widgets/follow_button.html?screen_name=sfbace&button=grey&show_count=false&text_color=555214&link_color=448822"
     style="width:70px; height:20px; position:relative; top:4px; left:70px;"></iframe>
<!-- END Twitter Button -->
  </h2>

<!-- BEGIN Twitter Widget -->
<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 2,
  interval: 30000,
  title: '',
  subject: '',
  width: 'auto',
  height: 300,
  theme: {
    shell: {
      background: 'transparent',
      color: '#448822'
    },
    tweets: {
      background: 'transparent',
      color: '#555214',
      links: '#448822'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    hashtags: true,
    timestamp: true,
    avatars: false,
    behavior: 'all'
  }
}).render().setUser('sfbace').start();
</script>
<style>
.twtr-hd { display:none; }
.twtr-ft { display:none; }
.twtr-widget {
  font-family: Georgia,"Times New Roman",Times,serif !important;
  font-size: 14px;
  color: #555214;
}
.twtr-widget em, .twtr-widget .twtr-new-results {
  font-size: 12px !important;
}
.twtr-widget em a {
  color: #aa8822 !important;
}
</style>
<!-- END Twitter Widget -->
</div>

<%= render :partial => 'shared/minifeed' %>
