<div class="welcome">
  <h2>Get Involved</h2>
  <ul>
    <li>Read more at the <a href="http://sfbace.org/">BACE Blog</a>!</li>
    <li><strong>Join Us at a General Meeting!</strong><br/>We meet once a month.  Please check our <a href="http://www.meetup.com/Bay-Area-Community-Exchange-Timebank/">Meetup page</a> for the next meeting date and location.
    </li>
    <li><a href="https://www.google.com/calendar/embed?src=sfbace.org_l15uc852l92nuvm42uqmfbqqgk%40group.calendar.google.com&ctz=America/Los_Angeles">Calendar of Events</a></li>
		<li><%= link_to "Signup", signup_path %> for the timebank and you'll automatically receive our newsletter.</li>
    <li><a href="mailto:support@bace.org">Email support@bace.org</a> to find out how to get involved as a volunteer, intern, donor or partner organization.</li>
    <li><a href="http://groups.google.com/group/bace-timebank">Join our Google Group</a> to participate in the internal workings of the timebank.</li>
    <li>Join our <a href="https://www.facebook.com/groups/104404468889/">Facebook Group</a>!</li>
    <li>Join our <a href="http://www.meetup.com/Bay-Area-Community-Exchange-Timebank/">Meetup Group</a>!</li>
  </ul>
</div>
<!--%= render :partial => 'shared/donate' %-->
<%= render :partial => 'shared/newsfeed' %>
<%= render :partial => 'shared/minifeed' %>
