<div class="welcome">
<!--
  <h3>With BACE Timebank, the currency is time, and everyone’s time is equal.</h3>

  <p>The BACE Timebank is like a local community bank, but we keep track of
  time. For every hour you spend doing something for someone in your
  community, you earn one hour to use to have someone do something for you. It
  is an alternative way to give and receive resources. It’s that simple. <%= link_to "Sign up now!", signup_path %></p>
-->
  <h2>Get Involved</h2>
  <ul>
    <li><a href="http://sfbace.org/">BACE Blog</a></li>
    <li><a href="https://www.google.com/calendar/embed?src=sfbace.org_l15uc852l92nuvm42uqmfbqqgk%40group.calendar.google.com&ctz=America/Los_Angeles">Attend an upcoming event or meeting</a></li>
    <li><a href="http://lists.sfbace.org/listinfo.cgi/timebank-sfbace.org">Join our email listserve</a></li>
  </ul>
</div>
<%= render :partial => 'shared/minifeed' %>
