  <h2><%= t('addresses.new.header') %></h2>

  <%= bootstrap_form_for [current_person, @address] do |form| %>
    <%= render :partial => 'form', :object => form %>
    <div class="form-group">
      <%= form.primary t('button_create')%>
    </div>
  <% end %>

