<h1>Register a new application</h1>
<%= bootstrap_form_for @client_application, :url => { :action => :create } do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <div class="form-group">
    <%= f.primary t('button_create') %>
  </div>
<% end %>
